/* file thích ứng đối với các kích cỡ màn hình khác nhau  */
/* ipad */
@media (min-width: 46.25em) and (max-width: 64em) {
    .news-container {
        flex-direction: column;
    }

    .news-left-container {
        width: 98%;
        margin: auto;
        padding: 0;
    }

    .news-right-container {
        width: 100%;
        height: 200px;
    }

    .text-color-standard {
        font-size: 30px;
        padding: 14px;
    }

    .animal-partner {
        right: 248px;
    }

    .animal-partner {
        left: 16px;
    }

    .animal-pig {
        right: 3%;
    }

    .padding-information {
        padding: 50px;
    }

    .menu-text-logo {
        display: block;
        color: #2011fe;
        font-family: var(--font-bold);
        font-size: 1rem;
        text-align: left;
        margin-left: 10px;
    }

    .information-introduce {
        font-size: 1.5rem;
    }

    .information-title-english {
        font-size: 1rem;
    }


}

/* Mobile và tablet */
@media (min-width: 46.25em) and (max-width: 64em),
(max-width: 46.1875em) {


    .infomation-container {
        padding: 0;
    }

    .menu {
        position: fixed;
        width: 98%;
        border-radius: 7px;
        top: 3px;
        justify-content: space-between;
    }

    .menu-home {
        display: none;
    }

    .bars-icon {
        display: block;
        font-size: 40px;
        color: white;
    }

    .menu-detail {
        width: 98vw;
        max-height: 50vh;
        background: white;
        z-index: 1;
        position: absolute;
        top: var(--header-top);
        left: 0px;
        backdrop-filter: blur(20px);
        border-radius: 7px;
        overflow-y: scroll;
    }

    .menu-detail-resp {
        padding: 10px;
        display: block;
        color: black;
        border-bottom: 1px solid #f1ecec;
    }

    .menu-detail-resp:hover .menu-detail a.menu-detail-resp {
        background: blue;
    }


}

/* mobile */
@media (max-width: 46.1875em) {
    .partner-title {
        font-size: 30px;
    }

    .featured-activities-box {
        width: 307px;
    }

    .title-capacity {
        font-size: 2rem;
    }

    .news-container {
        flex-direction: column;
    }


    .news-left-container,
    .news-right-container {
        width: 94%;
        margin: auto;
    }

    .news-right-container {
        height: 300px;
    }

    .news-right-item {
        width: 100%;
    }

    .news-style {
        width: 300px;
    }

    .news-title {
        font-size: 23px;
    }

    .news-handle {
        width: 80%;
    }


    .text-color-standard {
        font-size: 18px;
        padding: 7px;
    }



    .animal-partner {
        width: 70px;
        height: 70px;
        top: 8px;
        left: -3%;
    }

    .animal-pig {
        width: 70px;
        height: 70px;
        top: -17px;
        right: -4%;
        display: none;
    }

    .animal-partner,
    .animal-pig {
        display: none;
    }









    .search-input {
        width: 196px;
    }


    .veterinary {
        width: 97%;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }

    .ncvd2 {
        width: 100%;
        left: 0;
    }

    .Ten-trung-tam {
        font-size: 2rem;
        padding: 5px;
    }


    .banner {
        height: 75vh;
    }

    .follow-icon {
        font-size: 13px;
        color: black;
        padding: 7px 14px;
        background: white;
        border-radius: 59px;
        margin-right: 6px;
    }

    .address-ncvdn2 {
        border-right: none;
        border-bottom: 1px solid;
        padding: 10px;
    }

    .footer-name-logo {
        justify-content: center;
    }

    .container-content-bee {
        flex-direction: column;
    }

    .information-title {
        text-align: center;
        font-size: 3.25rem;
    }

    .padding-information {
        padding: 15px;
    }

    .information-button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .block-info-container::before {
        width: 100%;
    }

    .partner-item {
        width: fit-content;
        height: fit-content;
    }

    .partner-image {
        width: 60px;
        height: 60px;
    }

    .partner-container {
        margin-bottom: 30px;
    }

    .block-info-container {
        margin: 30px 0;
        padding: 10px;
    }

    .title-capacity {
        margin: 20px 10px;
    }


    .capacity-item {
        height: 140px;
        font-size: 10px;
    }

    .padding-width {
        padding: 0 15px;
    }

    .information-introduce {
        font-size: 1rem;
    }

    .information-title-english {
        font-size: .6rem;
    }

    .follow-container {
        background-position: 34%;
    }

    .tin-tuc-box-first {
        height: auto;
        flex-direction: column;
    }
}